<div class="contenedor-cabecera text-center py-2">
    <img src="../../../assets/img/dashboard/Logo.png" class="img-cabecera" height="100px">
</div>
<div class="contenedor">
  

    <div class="container ">

        <div class="row ">
            <div class="col-sm-4 py-4  text-center">
                <img src="../../../assets/img/dashboard/Fondo de inversion.png" width="50%" alt="">
                <h3>Fondo de Inversión</h3>
            </div>

            <div class="col-sm-4 py-4  text-center">
                <img src="../../../assets/img/dashboard/Saldo.png" width="50%" alt="">
                <h3>Saldo</h3>
            </div>

            <div class="col-sm-4 py-4  text-center">
                <img src="../../../assets/img/dashboard/Bienes Raices.png" width="50%" alt="">
                <h3>Bienes Raíces</h3>
            </div>

            <div class="col-sm-4 py-4  text-center">
                <img src="../../../assets/img/dashboard/Companias.png" width="50%" alt="">
                <h3>Compañias</h3>
            </div>

            <div class="col-sm-4 py-4  text-center">
                <img src="../../../assets/img/dashboard/Trading.png" width="50%" alt="">
                <h3>Trading</h3>
            </div>

            <div class="col-sm-4 py-4  text-center">
                <img src="../../../assets/img/dashboard/Membresia.png" width="50%" alt="">
                <h3>Menbresías</h3>
            </div>

        </div>

    </div>
</div>